<div class="user_info">
  <h1><%= @userinfo.username %></h1>
  <img src="<%= @userinfo.userimg %>" alt="">
  <p><strong>Location: </strong><%= @userinfo.userlocation %></p>
  <p><%= @userinfo.userbio %></p>
  <%= mail_to @userinfo.useremail %>
</div>

<div>
  <ul>
    <% @repos.each do |repo| %>
    <li class="repo"> <%= repo.name %> </li>
    <% end %>
  </ul>
</div>
